<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" class="mobile-toggle">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="brand">DiFi</span>
  <span class="spacer"></span>
  <nav class="desktop-nav">
    @for (link of links; track link.path) {
    <a mat-button [routerLink]="link.path">{{ link.label }}</a>
  }
  </nav>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="over" class="mobile-nav">
    @for (link of links; track link.path) {
    <a [routerLink]="link.path">{{ link.label }}</a>
  }

  </mat-sidenav>
</mat-sidenav-container>
