
/***************************************************************************************
* Search results grid layout styles
***************************************************************************************/
.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

input[type="text"] {
  border: solid 1px #add8e6;
  padding: 10px;
  border-radius: 10px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

button {
  padding: 10px;
  border: solid 1px #add8e6;
  background: var(--primary-color);
  color: rgb(26, 24, 24);
  border-radius: 8px;
}

button:hover {
    background-color: #add8e6;
}


/***************************************************************************************
* Screen size adjustments, responsive design, and mobile first approach
***************************************************************************************/
@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}


/***************************************************************************************
* Home table styles 
***************************************************************************************/
table {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-family: sans-serif;
  border-collapse: collapse;
  /* border: 2px solid rgb(140, 140, 140) */
}

caption {
  padding: 10px;
  font-weight: bold;
  caption-side: bottom;
}

thead {
  background-color: rgb(228 240 245);
}

th, td {
  padding: 8px 10px;
  border: 1px solid rgb(160 160 160);
}

tbody tr:nth-child(even) {
  background-color: rgb(237 238 242);
}