<style>
</style>

<main>

  <section>
        <input type="text" [(ngModel)]="searchStore" placeholder="Enter Store Name...">
        <button (click)="onSearch()" class="primary" type="button">Search</button>
  </section>

  <section>
    <input type="text" placeholder="Filter by keyword..." #filter>
    <button class="primary" type="button" (click)="filterResults(filter.value)">Filter</button>
  </section>

  <br/>

  <section class="reults">
    <table>
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Discount</th>
          <th scope="col">Type</th>
          <th scope="col">Summary</th>
        </tr>
      </thead>  
      <tbody>
        @for (discountCode of filteredDiscountList; track discountCode.code) {
          <tr>
            <td>{{ discountCode.code }}</td>
            <td>{{ discountCode.discount }}</td>
            <td>{{ discountCode.type }}</td>
            <td>{{ discountCode.summary }}</td>
            <td><a [routerLink]="['/details', discountCode.code]">View Details</a></td>
          </tr>
        }
      </tbody>
    </table>
    <!-- @for (discountCode of filteredDiscountList; track discountCode.code) {
      <app-entity-discount-code 
        [discountCode]="discountCode">
      </app-entity-discount-code>
    } -->
  </section>

</main>

